:root {
    /* Colors */
    --blue: #3F64DD;
    --navy-blue: #0D0F4A;
    --light-blue: #E0EAF8;

    /* Measurements */
    --tablet-width: 1023px;
    --mobile-width: 767px;
}

/* Font Style */
.font-italic {
    font-style: italic;
}

.font-oblique {
    font-style: oblique;
}

/* Font Weight */
.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}

.font-lighter {
    font-weight: lighter;
}

.font-100 {
    font-weight: 100;
}

.font-200 {
    font-weight: 200;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}

.font-900 {
    font-weight: 900;
}

/* Text Decoration */
.no-text-decor * {
    color: inherit;
    text-decoration: inherit;
}

/* Text Alignment */
.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-justify {
    text-align: justify;
}

/* Background Color */
.bg-blue {
    background-color: var(--blue);
}

.bg-navy-blue {
    background-color: var(--navy-blue);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-white {
    background-color: white;
}

/* Font Color */
.font-color-white {
    color: white;
}

.font-color-navy-blue {
    color: var(--navy-blue);
}

/* Sizing */
.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

/* Flex Handling */
.display-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-content-nowrap * {
    flex-shrink: 0;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.flex-center-vertical {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-4 {
    flex-grow: 4;
}

.flex-grow-5 {
    flex-grow: 5;
}

.flex-nogrow {
    flex-grow: 0;
}

.flex-nobasis {
    flex-basis: 0;
}

.flex-noshrink {
    flex-shrink: 0;
}

/* Desktop size */
@media only screen and (min-width: 1023px) {
    
    /* Visibility Handling */
    .hide-on-desktop {
        display: none;
    }

    .adaptive-width {
        width: var(--desktop-width);
    }
}

/* Tablet size */
@media only screen and (max-width: 1023px) {

    /* Visibility Handling */
    .hide-on-tablet {
        display: none;
    }

    .adaptive-width {
        width: var(--tablet-width);
    }
}

/* Mobile size */
@media only screen and (max-width: 767px) {

    /* Visibility Handling */
    .hide-on-mobile {
        display: none;
    }

    .adaptive-width {
        width: var(--mobile-width);
    }
}

